.pokemon-image {
  width: 80%;
}

.pokemon-details {
  overflow-wrap: break-word;
  height: 100%;
}

.label {
  display: inline-block;
  margin-right: 4px;
  margin-top: 4px;
  white-space: normal;
  font-size: 100%;
}

.pokemon-name-container {
  li {
    display: inline-block;
    margin-right: 15px;
  }
}

.pokemon-details-container {
  height: 100%;
  // overflow-y: auto;
}

.pokemon-image-container {
  margin-left: -10px;
}

.row {
  margin: 0px;
}

.details-header {
  text-decoration: underline;
}